%h1 Show vue
- unless @succeeded_subscriptions.empty?
  %h2 Liste des objectifs accomplis
  %ul
    - @succeeded_subscriptions.each do |subscription|
      %li
        = subscription.id
        = image_tag subscription.achievement.badge.url