body {
  padding-top: 40px;
}

ul.list-achievements-user li {
  display: inline;
}

ul.current-list-achievements-user {
  list-style: none;
  display:inline-block;
  vertical-align: top;
}

ul.user-infos {
  list-style: none;
  margin-left:0 ;
}