%h1 Index Achievement
- if @achievements.any?
  %ul
    - @achievements.each do |achievement|
      %li
        = achievement.id
        = link_to achievement.title, achievement
        = achievement.description
      %br